* {
  box-sizing: border-box;
}

body {
  background: url('./img/sync3.jpg');
  background-size: cover;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
  border: black;
}

.sync-title {
  font-family: 'Fascinate', cursive;
  font-size: 4.5rem;
  letter-spacing: 10px;
  color: white;
  margin-bottom: 1rem;
  margin-top: 8rem;
}

.main-inputs {
  width: 18rem;
  height: 2.5rem;
  border-radius: 5px;
  border: none;
  margin: .5rem;
  padding-left: 1rem;
  font-size: .8rem;
}

#login-btn {
  background-color: rgb(17,135,135);
  color: white;
  font-size: .8rem;
  letter-spacing: 1px;
}

#register-btn {
  background-color: rgb(17,135,135);
  color: white;
  letter-spacing: 1px;
  width: 5rem;
  height: 2.5rem;
  border-radius: 5px;
  border: none;
  margin: .5rem;
  margin-top: 2rem;
  margin-left: 80%;
}

#register {
  background-color: rgb(17,135,135);
  color: white;
  font-size: .8rem;
  letter-spacing: 1px;
}

#dashboard {
  background-color: rgba(135,143,166,.9);
  height: 50rem;
}

.sync {
  font-family: 'Fascinate', cursive;
  font-size: 2.5rem;
  letter-spacing: 10px;
  color: white;
  margin-top: 0rem;
  margin-left: 2rem;
  text-align: left;
}

#current-date {
  text-align: center;
  text-transform:uppercase;
  font-family: Helvetica;
  color: white;
  margin-left: -58rem;
  margin-top: .5rem;
  margin-bottom: -.5rem;
  padding: 1rem;
  display: inline-block;
  color: rgba(47,8,129,1);
}

#menu-icons {
  margin-top: -5rem;
  margin-left: 55rem;
}

.icons {
  height: 35px;
  width: 35px;
  background-repeat: no-repeat;
  background-size: 95%;
  background-color: rgb(17,135,135);
  border: 4px solid rgb(17,135,135);
  border-radius: 5px;
  padding: 1rem;
  display: inline-block;
  margin: .5rem;
}

#home-icon {
  background-image: url(./img/views_home_01.png);
}

#snooze-icon {
  background-image: url(./img/views_snooze_01.png);
}

#archive-icon {
  background-image: url(./img/views_done_01.png);
}

#task-input {
  width: 24rem;
  height: 2.5rem;
  border-radius: 5px;
  border: none;
  margin: .5rem;
  padding-left: 1rem;
  font-size: .8rem;
  margin-left: -.2rem;
}

.input-display {
  background-color: white;
  border-radius: 5px;
  text-align: center;
  width: 25rem;
  display: block;
  left: none;
  margin-left: -35rem;
  margin-top: 4rem;
  padding: .3rem;
}

.input-btn {
  width: 3rem;
  display: inline-block;
  margin: .3rem;
  background-color: rgb(17,135,135);
  border-radius: 5px;
  border: none;
  height: 1.3rem;
}

#input-btn-one {
  margin-left: 12rem;
}

ul {
  list-style: none;
  margin-left: -38.5rem;
}

li {
  background-color: white;
  border-radius: 5px;
  width: 25rem;
  display: block;
  margin: 1rem;
  padding: .3rem;
}

.to-do-item {
  background-color: white;
  border-radius: 5px;
  text-align: left;
  width: 24rem;
  display: block;
  padding: .5rem;
  border: none;

}
